[Desktop Entry]
Name=NinjaLibrary
Comment=Document search and management tool
Exec=ninjalibrary
Icon=ninjalibrary
Terminal=false
Type=Application
Categories=Office;Utility;Database;
